body {font-size: 16px}

.score {font-size: 32px;
	z-index: 1000;
	padding-left: 230px;
	padding-top: 30px;
	position: absolute;
}



#chart1 {z-index: 0;
	position: absolute;
	top: 0px;
	left: 0px;
}


#chart2 {z-index: 50;
	position: absolute;
	top: 0px;
	left: 0px;
}

.container {
	position:relative;
}