
/*Generic Element Styling*/
/*===========================================================*/
input[type=text] {
	border-radius: 0px;
	color: #7d7d7d;
  	font-family: 'Montserrat', sans-serif;
  	font-weight: 400;
}

#input-text {
	border-radius: 0px;
	color: #7d7d7d;
  	font-family: 'Montserrat', sans-serif;
  	font-weight: 400;
}

input[type='file'] {
  color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	color: #6c6c6c;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

p, label, li, td, div {
	color: #7d7d7d;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.table td {
	vertical-align: middle;
}

#creepLabel {
	background-color: #6c6c6c;
	color: white;
	padding: 5px;
}
#score {
	color: #e8ca55;
	font-weight: bold;
	font-size: 32px;
}
.impression {
	margin-left : 20px;
	height: 150px;
	width: 150px;
	display: inline;

}

.impression img {
	display: inline-block;
    width: 30px;
    position: relative;
    bottom: 3px;
    left: 5px;
}

.personname {
	margin-left : 20px;
}

#faceStats {
	margin-top: 20px;
	display: none;
}
.creepSummary {
	text-align: center;
	font-size: 32px;
}

#ageNumber, #gender, #glasses, #wordLengthAverage, #longestWord {
	    color: #f9461c;
}

/*Head Section Styling*/
/*===========================================================*/
.header {
	width: 100%;
	background: #f9461c;
	position: fixed;
	padding: 10px 20px;
	top: 0;
	z-index: 200;
	color: #fff;
	text-align: center;
}

.header img {
	width: 50px;
}

.header h3 {
	display: inline-block;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	top: 5px;
	padding: 5px;
}

.header p {
	display: inline-block;
	text-align: right;
	float: right;
	vertical-align: middle;
	position: relative;
	top: 6px;
}


/*Column Section Styling*/
/*===========================================================*/
.bg {
	margin-top: 80px;
}

.section {
	background: #f6f6f6;
	padding: 20px;
}

/*Welcome Section Styling*/
/*===========================================================*/
.welcome-section {
	background: #d6d6d6;
}

.welcome-section h3, p, li {
	/*color: #fff;*/
}


.name-holder {
	display: inline-block;
}

/*Form Section*/
/*===========================================================*/
.form-control:focus {
  border-color: #f9461c;
  box-shadow: none;
  color: #7d7d7d;
}

#form-submit {
	width: 100%;
	border-radius: 0px;
	background: #f9461c;
	border-color: #f9461c;
	transition: .25s;
}

#form-submit:hover {
	background: #ea3e1c;
	border-color: #ea3e1c;
}

.required {
	color: #f9461c;
}

.error {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 72px;
	left: 0;
	z-index: 3000;
	text-align: center;
}

.error p {
	position: relative;
	top: 13px;
	color: #fff;
}

.lightRed {
	background: #f9785a;
	transition: .25s;
}


/*Face Impresssion Styling*/
/*===========================================================*/
.face-holder {
	width: 50px;
	height: 50px;
	display: inline-block;
	transition: .5s;
	margin: 0 2.5px;
}

.face-holder:hover {
	cursor: pointer;
	transform: scale(1.05);
}

#face1 {
	background: url(../img/svg/1-inactive.svg) center center no-repeat;
	background-size: cover;
}
.face1-active {
	background: url(../img/svg/1-active.svg) center center no-repeat !important;
}

#face2 {
	background: url(../img/svg/2-inactive.svg) center center no-repeat;
	background-size: cover;
}
.face2-active {
	background: url(../img/svg/2-active.svg) center center no-repeat !important;
}

#face3 {
	background: url(../img/svg/3-inactive.svg) center center no-repeat;
	background-size: cover;
}
.face3-active {
	background: url(../img/svg/3-active.svg) center center no-repeat !important;
}

#face4 {
	background: url(../img/svg/4-inactive.svg) center center no-repeat;
	background-size: cover;
}
.face4-active {
	background: url(../img/svg/4-active.svg) center center no-repeat !important;
}

#face5 {
	background: url(../img/svg/5-inactive.svg) center center no-repeat;
	background-size: cover;
}
.face5-active {
	background: url(../img/svg/5-active.svg) center center no-repeat !important;
}

/*Modal Image*/
/*===================================================================*/
#modalContent {
	width: 100%;
	background: rgba(30, 30, 30, 0.9);
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 2000;
	text-align: center;
	display: none;
}

#modalContent p {
	color: #fff;
}

#modalHeader {
	margin-top: 30vh;
	color: #fff;
}

#Proceed {
  	margin-right: 20px;
    background: #f9461c;
    border: 1px solid #f9461c;
    color: #fff;
    padding: 5px 15px;
    transition: .25s;
 }

 #Proceed:hover {
 	background: #ea3e1c;
	border-color: #ea3e1c;
	cursor: pointer;
 }

 #goBack {
 	border: 1px solid #f6f6f6;
    color: #7d7d7d;
    padding: 5px 15px;
    background: #f6f6f6;
    transition: .25s;
 }

 #goBack:hover {
 	border-color: #f1f1f1;
    background: #e2e2e2;
    cursor: pointer;
 }

 .loading-logo {
 	display: none; /*Hides initially*/
 	margin: 0 auto;
 	top: 35vh;
 	position: relative;
 	width: 80%;
 	max-height: 250px;
 	animation: loading infinite 2s;
 	transition: .25s;
 }

 #modal-initial {
 	transition: .25s;
 }

 @keyframes loading {
 	0% {
 		opacity: 1;
 	}

 	50% {
 		opacity: 0;
 	}

 	100% {
 		opacity: 1;
 	}
 }


/*Summary Styles*/
/*===========================================================*/
.placeholder {
	opacity: 0.1;
}


.profile {
	height: 150px;
	width: 150px;
	object-fit: cover;
}

.name-holder {

}

/*History Profile*/
/*===========================================================*/
.history-profile {
	  object-fit: cover;
	  width:60px;
	  height:60px;
	  border-radius: 50%;
}

.score {
	font-size: 32px;
	z-index: 100;
	padding-left: 130px;
	padding-top: 30px;
	position: absolute;
	top: 100px;
	left: 120px;
	color: #ffd11a;
	font-weight: bold;
}



#chart1 {
	z-index: 0;
	position: absolute;
	top: 0px;
	left: 0px;
}


#chart2 {
	z-index: 50;
	position: absolute;
	top: 0px;
	left: 0px;
}

.container {
	position:relative;
	min-height: 250px;
}
.ct-series.a .ct-slice-donut {
	stroke: #f9461c;
}

/*Small Breakpoint*/
@media (max-width: 767px) {
	.profile {
		width: 100%;
		height: auto;
	}

	.name-holder {
		padding-top: 10px
	}
}
