.table td {
	vertical-align: middle;
}

.header {
	width: 100%;
	background: #f9461c;
	position: fixed;
	padding: 10px 20px;
	top: 0;
	z-index: 200;
	color: #fff;
	text-align: center;
}

.header h3 {
	/*display: inline-block;*/
}

.header p {
	display: inline-block;
	text-align: right;
	float: right;
	vertical-align: middle;
	position: relative;
	top: 6px;
}

.bg {
	margin-top: 80px;
}

.section {
	background: #f6f6f6;
	padding: 20px;
}

.name-holder {
	display: inline-block;
}

.face-holder {
	width: 50px;
	height: 50px;
	display: inline-block;
	transition: .5s;
}

.face-holder:hover {
	cursor: pointer;
	transform: scale(1.05);
}

#face1 {
	background: url(../img/svg/1-inactive.svg) center center no-repeat;
	background-size: cover;
}
.face1-active {
	background: url(../img/svg/1-active.svg) center center no-repeat !important;
}

#face2 {
	background: url(../img/svg/2-inactive.svg) center center no-repeat;
	background-size: cover;
}
.face2-active {
	background: url(../img/svg/2-active.svg) center center no-repeat !important;
}

#face3 {
	background: url(../img/svg/3-inactive.svg) center center no-repeat;
	background-size: cover;
}
.face3-active {
	background: url(../img/svg/3-active.svg) center center no-repeat !important;
}

#face4 {
	background: url(../img/svg/4-inactive.svg) center center no-repeat;
	background-size: cover;
}
.face4-active {
	background: url(../img/svg/4-active.svg) center center no-repeat !important;
}

#face5 {
	background: url(../img/svg/5-inactive.svg) center center no-repeat;
	background-size: cover;
}
.face5-active {
	background: url(../img/svg/5-active.svg) center center no-repeat !important;
}

input[type='file'] {
  color: transparent;
}

.chart-placeholder {
	width: 100%;
}


.score {font-size: 32px;
	z-index: 1000;
	padding-left: 130px;
	padding-top: 30px;
	position: absolute;
}



#chart1 {z-index: 0;
	position: absolute;
	top: 0px;
	left: 0px;
}


#chart2 {z-index: 50;
	position: absolute;
	top: 0px;
	left: 0px;
}

.container {
	position:relative;
}

/*.meterbox {background-color: #f6f6f6;
	background-color: salmon;
}*/